{% extends "base.html" %}
{% block content %}
Find critical parts of infra
<ul class="list-group">
    <li class="list-group-item">
        <a href="/map">Map</a>
    </li>
    <li class="list-group-item">
        <a href="/pools">Pools</a> (<a href="/pools/table">as a table</a>)
    </li>
</ul>
{% endblock %}