{% extends "base.html" %}
{% block content %}
<style>
    .dc {
        border: 5px solid #000;
        padding: 10px;
        margin: 5px;
    }
    .row {
        border: 2px solid #000;
        padding: 10px;
        margin: 5px;
    }
    .rack {
        border: 1px solid #dee2e6;
        padding: 3px;
        margin: 2px;
        text-align: center;
    }
    table {
        table-layout: fixed;
    }
    .host {
        margin-top: 5px;
        margin-bottom: 5px;
        margin-right: -10px;
        margin-left: -10px;
        background-color: #eaf3ff;
    }
    .host.master {
        background-color: #fee7e6;
    }
    .host.candidate-master {
        background-color: #fef6e7;
    }
</style>
    <form action="/map">
        <div class="form-group">
            <label for="cluster">Cluster</label>
            <select class="ui selection dropdown" name="cluster">
                {% for i in clusters %}
                <option value="{{i}}"{% if map and cluster == i %}selected {% endif %}>{{i}}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Show the map</button>
    </form>
    {% if map %}
    {% for dc in dcs %}
        {% if map[dc] %}
        <h2> {{dc}} </h2>
            <div class="dc">
            {% for row in rows[dc] %}
                <h3>Row {{row}}</h3>
                <div class="row">
                <table class="table">
                    <tbody>
                    <tr>
                        {% for rack in rows[dc][row] %}
                            <td class="rack"><b>{{rack}}</b><hr>
                                {% for host in map[dc][rack] %} <div class="host{% if cluster_flags[cluster] and cluster_flags[cluster][host] %} {{cluster_flags[cluster][host]}}{% endif %}"{% if cluster_flags[cluster] and cluster_flags[cluster][host] %} title="{{cluster_flags[cluster][host]}}"{% endif %}>{{host}}</div> {% endfor %}</td>
                        {% endfor %}
                    </tr>
                    </tbody>
                </table>
                </div>
            {% endfor %}
            </div>
        {% endif %}
    {% endfor %}
    {% endif %}
{% endblock %}
