{% extends "base.html" %}
{% block content %}
<style>
    td > a {
        color: #000;
    }
</style>
    {% if res %}
    {% for dc in res %}
        {% if res[dc] %}
        <h2> {{dc}} </h2>
        <div class="dc">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Cluster</th>
                    <th scope="col">Service</th>
                    <th scope="col">Hosts pooled</th>
                    <th scope="col">Total hosts</th>
                  </tr>
                </thead>
                <tbody>
                    {% for service in res[dc] %}
                    <tr style="background-color: {{res[dc][service]['color']}};">
                        <td><a href="https://config-master.wikimedia.org/pybal/{{dc}}/{{res[dc][service]['cluster']}}">{{res[dc][service]['cluster']}}</a></td>
                        <td>{{res[dc][service]['service']}}</td>
                        <td>{{res[dc][service]['pooled']}} ({{res[dc][service]['percent_pooled']}}%)</td>
                        <td>{{res[dc][service]['hosts']}}</td>
                      </tr>
                    {% endfor %}
                </tbody>
              </table>
        </div>
        <hr>
        {% endif %}
    {% endfor %}
    {% endif %}
{% endblock %}
