{% extends "base.html" %}
{% block content %}
<style>
    .dc {
        border: 5px solid #000;
        padding: 10px;
        margin: 5px;
        display: grid;
        gap: 5px;
    }
    .dc > div {
        padding: 5px;
        overflow: hidden;
        text-overflow: ellipsis;
        word-wrap: break-word;
    }
    .dc > div > a {
        color: #202122;
        font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Lato,Helvetica,Arial,sans-serif;
        font-weight: 500;
    }
</style>
    {% if res %}
    {% for dc in res %}
        {% if res[dc] %}
        <h2> {{dc}} </h2>
        <div class="dc">
            {% for service in res[dc] %}
                <div style="background-color: {{res[dc][service]['color']}}; grid-column-start: {{res[dc][service]['gridstart']}}; grid-column-end: {{res[dc][service]['gridend']}}; height: {{res[dc][service]['height']}}px; font-size: {{res[dc][service]['fontsize']}}em">
                    <a href="https://config-master.wikimedia.org/pybal/{{dc}}/{{res[dc][service]['cluster']}}">{{res[dc][service]['cluster']}}.{{res[dc][service]['service']}}: {{res[dc][service]['percent_pooled']}}% of {{res[dc][service]['hosts']}} hosts pooled</a>
                </div>
            {% endfor %} 
        </div>
        {% endif %}
    {% endfor %}
    {% endif %}
{% endblock %}
